In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data=pd.read_excel('iris.xls')

In [3]:
data.head()

    SL   SW   PL   PW Classification
0  5.1  3.5  1.4  0.2    Iris-setosa
1  4.9  3.0  1.4  0.2    Iris-setosa
2  NaN  3.2  1.3  0.2    Iris-setosa
3  4.6  3.1  1.5  0.2    Iris-setosa
4  5.0  3.6  1.4  0.2    Iris-setosa

In [7]:
data.shape

(150, 5)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SL              143 non-null    float64
 1   SW              144 non-null    float64
 2   PL              144 non-null    float64
 3   PW              150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
data['Classification'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Classification, dtype: int64

In [10]:
data=pd.get_dummies(data)

In [11]:
data.head()

,SL,SW,PL,PW,Classification_Iris-setosa,Classification_Iris-versicolor,Classification_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,NaN,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [12]:
data.isna().sum()

SL                                7
SW                                6
PL                                6
PW                                0
Classification_Iris-setosa        0
Classification_Iris-versicolor    0
Classification_Iris-virginica     0
dtype: int64

In [14]:
data['SL']=data['SL'].fillna(data['SL'].median())

In [15]:
data['SW']=data['SW'].fillna(data['SW'].median())

In [16]:
data['PL']=data['PL'].fillna(data['PL'].median())

In [17]:
data.head()

,SL,SW,PL,PW,Classification_Iris-setosa,Classification_Iris-versicolor,Classification_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,5.8,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   SL                              150 non-null    float64
 1   SW                              150 non-null    float64
 2   PL                              150 non-null    float64
 3   PW                              150 non-null    float64
 4   Classification_Iris-setosa      150 non-null    uint8
 5   Classification_Iris-versicolor  150 non-null    uint8
 6   Classification_Iris-virginica   150 non-null    uint8
dtypes: float64(4), uint8(3)
memory usage: 5.3 KB

In [35]:
X=data.drop(['Classification_Iris-setosa','Classification_Iris-versicolor','Classification_Iris-virginica'],axis=1)

In [58]:
y=data['Classification_Iris-virginica']

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [39]:
X_train.shape

(120, 4)

In [40]:
y_train.shape

(120,)

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
logit_model=LogisticRegression()

In [44]:
logit_model.fit(X_train,y_train)
y_pred=logit_model.predict(X_test)

In [48]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score

In [59]:
print("Accuracy is:",accuracy_score(y_test,y_pred))
print("Precission is:",precision_score(y_test,y_pred))
print("f1 score is:",f1_score(y_test,y_pred))

Accuracy is: 1.0
Precission is: 1.0
f1 score is: 1.0

In [60]:
from sklearn.neighbors import KNeighborsClassifier

In [62]:
acc_value=[]
neighbors=np.arange(3,15)

In [67]:
for k in neighbors:
    classifier =KNeighborsClassifier(n_neighbors=k,metric='minkowski')
    classifier.fit(X_train,y_train)
    y_pred=classifier.predict(X_test)
    acc_values=accuracy_score(y_test,y_pred)

In [68]:
from sklearn.tree import DecisionTreeClassifier

In [69]:
dt_model=DecisionTreeClassifier()

In [71]:
dt_model.fit(X_train,y_train)

DecisionTreeClassifier()

In [72]:
y_pred=dt_model.predict(X_test)

In [77]:
confusion_matrix(y_test,y_pred)

array([[19,  0],
       [ 0, 11]], dtype=int64)